#body::before {
  background: #eeeeee;
  filter: blur(6px);
  position: fixed;
  background-size: cover;
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

#body {
  justify-content: flex-end;
  align-items: center;
}

.contenedor_general {
  background: url("../../../public/Anarcocapitalismo.png") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 53%;
  height: 100vh;
  z-index: 1000;
}

.contenedor_form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  color: #000000;
  text-align: center;
  flex-direction: column;
  background-color: #eeeeee;
  margin-right: 1.5rem;
  border-radius: 1rem;
  gap: 0.5rem;
  border: 2px solid #0f0f0f;
}

.seccionNacionalidad {
  display: flex;
  gap: 2%;
  width: 85%;
}

.seleccionNacionalidad {
  width: 15% !important;
  height: 3.1rem !important;
  padding: 0% 2% !important;
}

.seleccionPais {
  width: 85% !important;
  margin-top: 2%;
}

.seccionInformacionPais {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 85%;
  text-align: start;
  place-self: center;
}

.seleccionGenero {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 3.1rem !important;
  align-items: center;
  padding: 0% 2% !important;
}

.seccionRadio {
  width: 64%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  border-radius: 4px;
  padding: 4%;
}

.textarea {
  padding: 0.5rem !important;
  height: auto !important;
  resize: none !important;
}

.seccionBoton {
  width: 90%;
  display: flex;
  justify-content: space-between;
  column-gap: 8%;
  align-items: center;
}

.labelRadio {
  align-self: center !important;
  display: flex;
  border: 2px solid #000000;
  cursor: pointer;
  width: 30%;
  border-radius: 4px;
  background: #eeeeee;
  margin: 0 !important;
  justify-content: center;
  transition: box-shadow 500ms ease;
  &:hover {
    box-shadow: 3px 0px 11px 0px #0f0f0f;
  }
}

.contenedor_passoword_perdida {
  width: 85%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  column-gap: 20%;
  margin: 4% 0 0 0;
  overflow: hidden;
}

.contenedor_passoword_perdida :is(a) {
  color: #000000;
  text-decoration: none;
}

.titulo_form {
  color: #000000;
  margin: 5% 0;
  align-self: flex-start;
}

.label,
.labelClave {
  color: #000000;
  align-self: flex-start;
  margin-left: 8%;
}

.input_texto {
  width: 85%;
  height: 2.5rem;
  margin-bottom: 5%;
  outline: none;
  padding: 1.4rem 0.9rem;
  border: 2px solid #000000;
  transition: box-shadow 500ms ease;

  &:focus {
    box-shadow: 3px 0px 11px 0px #0f0f0f;
  }
}

.contenedor_input_password {
  position: relative;
  width: 100%;
}

.input_fecha {
  margin-bottom: 5%;
}

.input_ultimo {
  margin: 0%;
}

.icono_password {
  position: absolute;
  top: 21%;
  right: 10.1%;
  margin: 0;
  cursor: pointer;
}

.seccionTitulo {
  width: 85%;
  color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icono_ultimo {
  top: 32%;
  right: 10%;
}

.boton {
  background-color: #2212b1;
  width: 85%;
  height: 4rem;
  margin: 4% 0 5% 0;
  color: #ffffff;
  transition: background-color 500ms ease, color 500ms ease;

  &:hover {
    background-color: #1277b1;
    color: #eeeeee;
  }
}

@media (prefers-color-scheme: dark) {
  #body::before {
    position: fixed;
    background: url("../../../public/LunaLava.png") center center fixed;
  }

  .contenedor_form {
    background-color: #0f0f0f;
    border: 2px solid #eeeeee;
  }

  .contenedor_passoword_perdida :is(a) {
    color: #eeeeee;
    text-decoration: none;
  }

  .titulo_form {
    color: #eeeeee;
  }

  .label {
    color: #eeeeee;
  }

  .input_texto {
    color: #eeeeee;
    background: #000000;
    border-color: #eeeeee;

    &:focus {
      box-shadow: 3px 0px 11px 0px #b9b9b9;
    }
  }

  .labelClave {
    color: #eeeeee;
  }

  .labelRadio {
    border-color: #eeeeee;
    background: #000000;
    color: #eeeeee;
    &:hover {
      box-shadow: 2px 0px 11px 0px #eeeeee;
    }
  }

  .seccionBoton {
    width: 90%;
    display: flex;
    justify-content: space-between;
    column-gap: 8%;
    align-items: center;
  }

  .boton {
    background: #eeeeee;
    color: #0f0f0f;

    &:hover {
      background-color: #494949;
      color: #eeeeee;
    }
  }
}

@media (width < 890px), (height < 200px) {
  .contenedor_general {
    width: 100% !important;
    background: url("../../../public/epigrafe73.png") center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contenedor_form {
    position: absolute;
    z-index: 1000;
  }
}

@media (width < 800px), (height < 200px) {
  .contenedor_passoword_perdida {
    flex-wrap: wrap;
    align-items: center;
    color: #28a745;
    gap: 0.5rem;
    color: #000000;
    text-decoration: none;
  }
}
