.contenedor_general {
  background: url("../../../public/Anarcocapitalismo.png") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.contenedor_form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 71%;
  color: #000000;
  text-align: center;
  flex-direction: column;
  background-color: #eeeeee;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  border-radius: 1rem;
  gap: 0.5rem;
  border: 2px solid #0f0f0f;
}

.contenedor_passoword_perdida {
  width: 85%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  column-gap: 20%;
  margin: 4% 0 0 0;
  overflow: hidden;
}

.contenedor_passoword_perdida :is(a) {
  color: #000000;
  text-decoration: none;
}

.titulo_form {
  color: #000000;
  margin: 5% 0;
  align-self: flex-start;
  margin-left: 7.5%;
}

.label {
  color: #000000;
  align-self: flex-start;
  margin-left: 8%;
}

.input_texto {
  width: 85%;
  height: 2.5rem;
  margin-bottom: 5%;
  outline: none;
  padding: 0.9rem;
  border: 2px solid #000000;
}

.contenedor_input_password {
  position: relative;
  width: 100%;
}

.label:last-of-type {
  margin-top: 5%;
}

.input_texto:last-of-type {
  margin-bottom: 0;
}

.icono_password {
  position: absolute;
  top: 29%;
  right: 10%;
  margin: 0;
  cursor: pointer;
}

.boton {
  background: #2212b1;
  width: 85%;
  height: 11%;
  margin: 4% 0 5% 0;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .contenedor_form {
    background-color: #0f0f0f;
    border: 2px solid #eeeeee;
  }

  .contenedor_passoword_perdida :is(a) {
    color: #eeeeee;
    text-decoration: none;
  }

  .titulo_form {
    color: #eeeeee;
  }

  .label {
    color: #eeeeee;
  }

  .boton {
    background: #eeeeee;
    color: #0f0f0f;
  }
}

@media (width < 890px), (height < 200px) {
  .contenedor_general {
    width: 100% !important;
    background: url("../../../public/epigrafe73.png") center center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contenedor_form {
    position: absolute;
    z-index: 1000;
  }
}

@media (width < 800px), (height < 200px) {
  .contenedor_passoword_perdida {
    flex-wrap: wrap;
    align-items: center;
    height: 20%;
    color: #28a745;
    gap: 0.5rem;
    color: #000000;
    text-decoration: none;
  }
}
