#body::before {
  background: url("../../../public/LunaLava.png") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
}

#body {
  display: inline-block;
  overflow-x: hidden;
  row-gap: 5%;
}

.header {
  background-color: #0f0f0f9e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5rem;
}

.seccionEnlace {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 8%;
  width: 33%;
}

.seccionEnlaceAumentada {
  width: 30%;
}

.tituloHeader {
  margin: 0;
}

.enlaceNormal {
  text-decoration: none;
  color: #eeeeee;
}

.enlace {
  color: #0f0f0f;
  text-decoration: none;
  border: 2px solid #0f0f0f;
  border-radius: 5px;
  padding: 3%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 500ms ease, border-color 500ms ease;

  &:hover {
    background-color: #0f0f0f;
    color: #eeeeee;
    border-color: #eeeeee;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  column-gap: 2%;
  margin: 1% 0;
}

.titulo {
  padding: 1rem 0 0 2rem;
}

.seccionImagen {
  position: relative;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.seccionOscura,
.seccionBlanco {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  top: 10rem;
  left: 10rem;
  height: 23%;
  border-radius: 2rem;
  background: #eeeeee;
}

.seccionBlanco {
  background: #0f0f0f;
}

.seccionPerfilIzquierdo {
  padding: 1rem 0 0 2rem;
}

.seccionPrincipal {
  background-color: #eeeeee;
  width: 100%;
  border-radius: 4px;
}

.tituloSeccionFlexEnterno {
  margin: 0;
  text-align: center;
}

.seccionFlexInterna {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.4rem;
  padding: 2% 0;
}

.tituloSeccionFlex {
  margin: 0;
  font-size: 24px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputClave {
  background: transparent;
  font-size: 27px;
}

.icono_password {
  cursor: pointer;
}

.seccionElemento {
  margin: 0 0 1% 0;
  flex-grow: 1;
  border: 1px solid #0f0f0f;
  border-radius: 6px;
  padding: 1rem;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
  word-break: keep-all;
  transition: box-shadow 400ms ease;

  &:hover {
    box-shadow: 0 0 12px 0 #0f0f0f;
  }
}

.seccionElemento:last-of-type {
  margin: 0;
  flex-grow: 1;
}

.seccionElementos {
  display: grid;
  margin: 2% 0 1% 0;
  gap: 1rem;
}

.seccionAjustes {
  margin: 2%;
}

.seccionFlex {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.formulario {
  display: flex;
  column-gap: 1rem;
}

.botonEnviar {
  align-self: flex-end;
  padding: 0.5rem 2rem;
  background-color: #eeeeee;
  color: #0f0f0f !important;
  border-color: #0f0f0f !important;

  &:hover {
    border-color: #eeeeee;
    color: #eeeeee !important;
    background-color: #0f0f0f !important;
  }
}

.botonEnviar:disabled {
  background-color: #8b8b8b !important;
  color: #0f0f0f;
  border-color: transparent !important;

  &:hover {
    color: #0f0f0f !important;
  }
}

.elemento {
  border: 2px solid #0f0f0f;
  border-radius: 4px;
}

.seccionSecundaria,
.seccionTerciaria {
  width: 47%;
  margin: 0 0 0 1%;
  background-color: #eeeeee;
  color: #0f0f0f;
  height: 100%;
  border-radius: 4px;
}

.seccionTerciaria {
  margin: 0 1% 0 0;
}

.seccionSecundariaAjuste {
  display: inline-block;
  margin: 0.5% 0.5% 0 0.5%;
  width: 99%;
}

.textArea {
  width: 100%;
  field-sizing: content;
  resize: none;
  padding: 1%;
  outline: none;
  border: 1px solid #0f0f0f;
  border-radius: 4px;
  transition: box-shadow 500ms ease;
  &:focus {
    box-shadow: 3px 0px 11px 0px #0f0f0f;
  }
}

.label {
  cursor: pointer;
  position: relative;
}

.enlace {
  color: #eeeeee;
  border-color: #eeeeee;

  &:hover {
    background-color: #eeeeee;
    color: #0f0f0f;
  }
}

.enlaceNormal {
  text-decoration: none;
  color: #eeeeee;
}

.seccionCentral {
  margin-bottom: 1rem;
}

.imagenes {
  aspect-ratio: 1 / 1;
  border-radius: 25px;
}

.usuarioPerfil {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: #0f0f0f9e;
    color: #eeeeee;
  }

  .textArea {
    border: 1px solid #eeeeee;
    &:focus {
      box-shadow: 3px 0px 11px 0px #b9b9b9;
    }
  }

  .seccionElemento {
    border-color: #eeeeee;

    &:hover {
      box-shadow: 0 0 12px 0 #eeeeee;
    }
  }

  .botonEnviar {
    align-self: flex-end;
    padding: 0.5rem 2rem;
    background-color: #eeeeee;
    color: #0f0f0f !important;
    border-color: #eeeeee !important;

    &:hover {
      border-color: #eeeeee;
      color: #eeeeee !important;
      background-color: #0f0f0f !important;
    }
  }

  .botonEnviar:disabled {
    background-color: #2c2c2c !important;
    color: #eeeeee !important;
    border-color: transparent !important;

    &:hover {
      color: #eeeeee !important;
    }
  }

  .enlaceNormal {
    text-decoration: none;
    color: #eeeeee;
  }

  .enlace {
    color: #eeeeee;
    border-color: #eeeeee;

    &:hover {
      background-color: #eeeeee;
      color: #0f0f0f;
      border-color: #0f0f0f;
    }
  }

  .elemento {
    border-color: #eeeeee;
  }

  .seccionPrincipal {
    color: #eeeeee;
    background-color: #0f0f0f;
  }

  .seccionSecundaria,
  .seccionTerciaria {
    background-color: #0f0f0f;
    color: #eeeeee;
  }

  .contenedor_form {
    background-color: #0f0f0f;
    border: 2px solid #eeeeee;
  }

  .contenedor_passoword_perdida :is(a) {
    color: #eeeeee;
    text-decoration: none;
  }

  .titulo_form {
    color: #eeeeee;
  }

  .label {
    color: #eeeeee;
  }

  .boton {
    background: #eeeeee;
    color: #0f0f0f;
  }
}
