.header {
  background-color: #eeeeee;
  width: 100vw;
  height: 12%;
}

.contenedor_general {
  background: url("../../../public/Anarcocapitalismo.png") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 1000;
}

.boton {
  background: #2212b1;
  width: 10%;
  height: 10%;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  .contenedor_form {
    background-color: #0f0f0f;
    border: 2px solid #eeeeee;
  }

  .contenedor_passoword_perdida :is(a) {
    color: #eeeeee;
    text-decoration: none;
  }

  .titulo_form {
    color: #eeeeee;
  }

  .label {
    color: #eeeeee;
  }

  .boton {
    background: #eeeeee;
    color: #0f0f0f;
  }
}