#body::before {
  background: #eeeeee;
  filter: blur(4px);
  background-size: cover;
  z-index: -1;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
}

#body {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 5%;
}

.header {
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 12%;
}

.tituloHeader {
  margin: 0;
}

.enlace {
  color: #0f0f0f;
  text-decoration: none;
  border: 2px solid #0f0f0f;
  border-radius: 5px;
  padding: 0.5%;
  transition: background-color 500ms ease, border-color 500ms ease;

  &:hover {
    background-color: #0f0f0f;
    color: #eeeeee;
    border-color: #eeeeee;
  }
}

.main {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  column-gap: 2%;
}

.seccionPrincipal {
  background-color: #eeeeee;
  width: 66%;
  margin: 0 2% 0 0;
  border-radius: 4px;
}

.seccionGrid {
  margin: 2%;
}

.seccionElementos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  gap: 1rem;
}

.elemento {
  border: 2px solid #eeeeee;
  border-radius: 4px;
}

.seccionSecundaria {
  width: 34%;
  margin: 0 0 0 2%;
  background-color: #eeeeee;
  border: 2px solid #0f0f0f;
}

.boton {
  background: #2212b1;
  width: 10%;
  height: 10%;
  color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  #body::before {
    background: url("../../../public/LunaLava.png") center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header {
    background-color: #0f0f0f;
    color: #eeeeee;
  }

  .enlace {
    color: #eeeeee;
    border-color: #eeeeee;

    &:hover {
      background-color: #eeeeee;
      color: #0f0f0f;
      border-color: #0f0f0f;
    }
  }

  .elemento {
    border-color: #eeeeee;
  }

  .seccionPrincipal {
    color: #eeeeee;
    background-color: #0f0f0f;
  }

  .contenedor_form {
    background-color: #0f0f0f;
    border: 2px solid #eeeeee;
  }

  .contenedor_passoword_perdida :is(a) {
    color: #eeeeee;
    text-decoration: none;
  }

  .titulo_form {
    color: #eeeeee;
  }

  .label {
    color: #eeeeee;
  }

  .boton {
    background: #eeeeee;
    color: #0f0f0f;
  }
}
