#body::before {
  background: url("../../../public/LunaLava.png") center center fixed;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  content: "";
  position: fixed;
  height: 100%;
  width: 100%;
}

#body {
  display: inline-block;
  overflow-x: hidden;
  row-gap: 5%;
}

.header {
  background-color: #0f0f0f9e;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5rem;
}

.mainPrincipal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}

.seccionEnlace {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 8%;
  width: 33%;
}

.seccionEnlaceAumentada {
  width: 30%;
}

.tituloHeader {
  margin: 0;
}

.enlaceNormal {
  text-decoration: none;
  color: #0f0f0f;
}

.enlace {
  color: #0f0f0f;
  text-decoration: none;
  border: 2px solid #0f0f0f;
  border-radius: 5px;
  padding: 3%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: background-color 500ms ease, border-color 500ms ease;

  &:hover {
    background-color: #0f0f0f;
    color: #eeeeee;
    border-color: #eeeeee;
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  column-gap: 2%;
  margin: 1% 0;
}

.seccionPrincipal {
  background-color: #eeeeee;
  border-radius: 4px;
}

.seccionGrid {
  margin: 2%;
}

.seccionElementos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  place-items: center;
  gap: 1rem;
}

.seccionAjustes {
  margin: 2%;
}

.seccionFlex {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.elemento {
  border: 2px solid #0f0f0f;
  border-radius: 4px;
}

.seccionSecundaria {
  padding: 2%;
  background-color: #eeeeee;
  color: #0f0f0f;
  height: 100%;
  border-radius: 4px;
}

.input_texto {
  width: 100%;
  color: #eeeeee;
  background: #000000;
  border-color: #eeeeee;

  &:focus {
    box-shadow: 3px 0px 11px 0px #b9b9b9;
  }
}

.seccionSecundariaAjuste {
  display: inline-block;
  margin: 0.5% 0.5% 0 0.5%;
  width: 99%;
}

.enlace {
  color: #eeeeee;
  border-color: #eeeeee;

  &:hover {
    background-color: #eeeeee;
    color: #0f0f0f;
  }
}

.enlaceNormal {
  text-decoration: none;
  color: #eeeeee;
}

.imagenes {
  aspect-ratio: 1 / 1;
  border-radius: 25px;
}

.usuarioPerfil {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  padding: 1rem;
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: #0f0f0f9e;
    color: #eeeeee;
  }
  
  .input_texto {
    color: #eeeeee;
    background: #000000;
    border-color: #eeeeee;

    &:focus {
      box-shadow: 3px 0px 11px 0px #b9b9b9;
    }
  }


  .enlaceNormal {
    text-decoration: none;
    color: #eeeeee;
  }

  .enlace {
    color: #eeeeee;
    border-color: #eeeeee;

    &:hover {
      background-color: #eeeeee;
      color: #0f0f0f;
      border-color: #0f0f0f;
    }
  }

  .elemento {
    border-color: #eeeeee;
  }

  .seccionPrincipal {
    color: #eeeeee;
    background-color: #0f0f0f;
  }

  .seccionSecundaria {
    background-color: #0f0f0f;
    color: #eeeeee;
  }

  .contenedor_form {
    background-color: #0f0f0f;
    border: 2px solid #eeeeee;
  }

  .contenedor_passoword_perdida :is(a) {
    color: #eeeeee;
    text-decoration: none;
  }

  .titulo_form {
    color: #eeeeee;
  }

  .label {
    color: #eeeeee;
  }

  .boton {
    background: #eeeeee;
    color: #0f0f0f;
  }
}
