@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

::selection {
  background: #0f0f0f;
  color: #eeeeee;
}

input::selection {
  background: #eeeeee;
  color: #0f0f0f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --background-oscuro: #0f0f0f;
  }

  ::selection {
    background: #eeeeee;
    color: #0f0f0f;
  }

}

html, body {
  color: rgb(var(--foreground-rgb));
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
